<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>This Landing Page</title>
</head>
<body>
    <nav>
    <ul>
        <li><a href="{% url 'Index_page' %}">Home</a></li>
        <li><a href="{% url 'basic_app:register_page' %}">Registry</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'basic_app:products_page' %}">Products</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'basic_app:product_add' %}">Add Your Product</a></li>
        <li><a href="{% url 'basic_app:logout' %}">LogOut</a></li>
        {% else %}
        <li><a href="{% url 'basic_app:login' %}">LogIn</a></li>
        {% endif %}
    </ul>
    </nav>
    {% block body-block %}
    {% if request.user.is_authenticated %}
        <h1>Now You Are Signed In Dear {{ request.user.username  }}</h1>
        {% else %}
    <h1>Welcome To The Product Registry Page</h1>
    <h3>If You Have Accont Please LogIn, If Not Create <a href="{% url 'basic_app:register_page' %}">One</a></h3>
    {% endif %}
    {% endblock  %}


</body>
</html>
